/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body{
  width: 960px;
  margin: 0;
	margin-right: auto;
	margin-left: auto;
  background-color: #000;
  color: #fff;
	font: 14px "Helvetica Neue", "Microsoft Sans Serif", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 300;
	a{
  	color: #c0c0c0;
  }
  a img{
  	border-style: none;
  }
  ul{
    margin: 0;
  	padding: 0;
  }
  li{
    list-style-type: none;
    margin: 0;
  	padding: 0;
  }
  .clear{
    clear: both;
  }
  .thin{
  	font-weight: 100;
  }
  .grey{
  	color: #919191;
  }
}
#content{
  margin-left: 170px;
	width: 800px;
}
#header{
  margin-top: 30px;
	margin-bottom: 10px;
	h1{
	  display: none;
	}
	.logo{
	  float: left;
	  img{
	    margin-left: -12px;
	    margin-top: -12px;
	  }
	}
	h2{
	  font-size: 20px;
	  width: 400px;
	  font-weight: 100;
	  border-left: 1px solid #4C4C4C;
	  float: left;
	  height: 60px;
	  margin: 0px;
	  padding-left: 10px;
	  overflow: hidden;
	  line-height: 60px;
	}
}
#footer{
	margin-top: 20px;
	margin-bottom: 40px;
	.copyright{
	  font-size:.8em;
	  margin-top: 20px;
	}
}

#main{
  min-height: 200px;
}

#tweets{
  .entry{
    width: 650px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #333;
    &:first-child{
    border-top: none;
      padding-top: 0px;
    }
    .media{
      margin-top: 10px;
      margin-bottom: 10px;
      img{
        max-width: 920px;
        margin-right: 15px;
        float:left;
      }
    }
    .social{
      li{
        margin-bottom: 10px;
        img{
          width: 30px;
        }
      }
    }
    .social.text{
      margin-top: 20px;
      li{
        float: left;
        margin-right: 10px;
        margin-bottom: 0px;
      }
    }
    .tweet{
      font-size: 1.5em;
      width: 600px;
      clear: both;
      padding-top: 10px;
      &.text{
        margin-top: 10px;
      }
    }
    .tweet_id{
      display: none;
    }
    .posted_at{
      font-size: .8em;
    }
  }
  .retweet{
  }
}

#archives{
  text-align: right;
  position: fixed;
  width: 150px;
  padding: 0 20px 0 0;
  top: 115px;
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: .1em;
  a{
    text-decoration: none;
  }
}









